/* some of common */

* {
    margin: 0;
    padding: 0;
}

.font-Large {
    font-size: 32px;
}

.font-Mid {
    font-size: 22px;
}

.font-Small {
    font-size: 18px;
}


/* some of semantic tags */

body {
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);
    background-size: 500%;
    animation: rotate 5s infinite alternate;
}

@keyframes rotate {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}


/* main */

.main {
    margin: auto;
    text-align: center;
    width: min-content;
}

.DisplayClock {
    background-image: url(clock.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    position: relative;
    width: 310px;
    height: 310px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
}

.hand {
    border: 2px solid black;
    background-color: black;
    border-radius: 5px;
    position: absolute;
    transform-origin: bottom;
    opacity: 0.7;
}

.hour {
    height: 40px;
    width: 0;
    top: 110px;
    left: 153px;
}

.minute {
    height: 60px;
    width: 0;
    top: 90px;
    left: 150px;
}

.second {
    height: 80px;
    width: 0;
    top: 70px;
    left: 153px;
}

.details {
    margin: auto;
    text-align: center;
    /* width: 250px; */
}